@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hover-effect {
  @apply transition-all duration-700 cursor-pointer;
}
.bg-color {
  background: #0f1010;
}

.bg-image {
  background-image: url("../public/assets/carimage2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.captain-bg {
  background-image: url("../public/assets/bike.webp");
  background-repeat: no-repeat;
  background-position: left;
}
